extends layout

block content
  h2 Hi, #{currentUser.username}
  h3 Messages Feed
  if isVip
    for message in messages 
      strong #{message.title}
      p #{message.message}
      em Posted by #{message.user.username} (#{message.datePostedFormattedVIP})
      hr
      br
  else if isMod
    for message in messages 
      strong #{message.title}
      p #{message.message}
      em Posted by #{message.user.username} (#{message.datePostedFormattedMOD})
      hr
      br
  else
    for message in messages 
      strong #{message.title}
      p #{message.message}
      em Posted by Anonymous
      hr
      br
  a(href=`./${currentUser.username}/new-message`): button New Message